# Test Sensor 1 settings
API_URL=https://urcabirds.bayfield.dev/v1
API_KEY=c753f5...
SENSOR_ID=test-sensor-1
SENSOR_NAME=Raspi Test
CONFIDENCE_THRESHOLD=0.2
LATITUDE=49.2429809
LONGITUDE=4.0590846
LOG_LEVEL=WARNING
